<%= form_with(model: experiment, local: true) do |form| %>
  <% if experiment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(experiment.errors.count, "error") %> prohibited this experiment from being saved:</h2>

      <ul>
      <% experiment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field alpha">
    <%= form.label :alpha %>
    <%= form.select :alpha, [0.05, 0.01] %>
  </div>

  <div class="field power">
    <%= form.label :power %>
    <%= form.select :power, [0.80, 0.90] %>
  </div>

  <div class="field control">
    <%= form.label :control %>
    <%= form.text_field :control %>
  </div>

  <div class="field minimum_detectable_effect">
    <%= form.label :minimum_detectable_effect %>
    <%= form.text_field :minimum_detectable_effect %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<section class='sample-size-preview'>
  <p>
    <% sample_size = @experiment.persisted? ? @experiment.sample_size : 'N/A' %>
    <strong>Required sample size per alternative:</strong> <span class='sample-size'><%= sample_size %></span>
  </p>

  <p>
    <em>
      To see your required sample size select levels of alpha and power, specify
      the smallest effect size you care to detect (which we'll use as the
       "minimum detectable effect"), and the conversion rate of the current version
      of the feature (the "control").
    </em>
  </p>

  <p>
    <a target='_blank' href='https://murphydbuffalo.tumblr.com/post/185500662003/why-do-i-need-such-a-large-sample-size-for-my-ab'>
      Learn more about sample size calculations.
    </a>
  </p>
</section>

<script type='text/javascript'>
  $(document).ready(function(_event) {
    $('input, select').change(function(_event) {
      var alpha, power, control, minimum_detectable_effect;

      alpha                     = $('.alpha select').val();
      power                     = $('.power select').val();
      control                   = $('.control input').val();
      minimum_detectable_effect = $('.minimum_detectable_effect input').val();

      if (alpha.length && power.length && control.length && minimum_detectable_effect.length) {
        $.get(
          '/hyp/sample_size',
          {
            alpha:                     parseFloat(alpha),
            power:                     parseFloat(power),
            control:                   parseFloat(control),
            minimum_detectable_effect: parseFloat(minimum_detectable_effect)
          },
          function(data, status, _xhr) {
            $('.sample-size').text(data);
          }
        );
      }
    });
  });
</script>
