<header>
  <div id="modal">
    <section class='experiment-parameters'>
      <h1><%= @experiment.name %></h1>

      <p>
        <strong>Alpha:</strong> <%= @experiment.alpha %>
      </p>

      <p>
        <strong>Power:</strong> <%= @experiment.power %>
      </p>

      <p>
        <strong>Control:</strong> <%= @experiment.control.round(4) %>
      </p>

      <p>
        <strong>Minimum detectable effect:</strong> <%= @experiment.minimum_detectable_effect.round(4) %>
      </p>

      <p>
        <strong>Sample size:</strong> <%= @experiment.sample_size %>
      </p>
    </section>

    <div class='horizontal-flex-wrapper'>
      <section class='experiment-status'>
        <h3>Experiment Progress</h3>

        <div class='progress-bar'>
          <div class='progress-bar-fill' style="width:<%= @experiment.approximate_percent_finshed %>%"></div>
        </div>

        <p class='results'>
          <% if @experiment.finished? %>
            The experiment is finished!
          <% else %>
            <%= "The experiment is roughly #{@experiment.approximate_percent_finshed}% complete. No statistically significant conculsions can be made until it is complete." %>
          <% end %>
        </p>
      </section>

      <section class='conversion-rates'>
        <h3>Conversion Rates</h3>

        <p>
          <strong>Control:</strong> <%= "#{@experiment.control_conversion_rate}%" %>
        </p>

        <p>
          <strong>Treatment:</strong> <%= "#{@experiment.treatment_conversion_rate}%" %>
        </p>

        <p>
          <% if @experiment.finished? && @experiment.significant_result_found? %>
            <%= "#{@experiment.winner.name} is #{@experiment.effect_size}% more effective than #{@experiment.loser.name}"%>
          <% else %>
            No significant difference has found between the two alternatives.
          <% end %>
        </p>
      </section>
    </div>
  </div>
</header>

<nav>
  <h5>
    <a href=<%= experiments_path %>>
      Back
    </a>
  </h5>

  <% unless @experiment.started? %>
    <h5> | </h5>

    <h5>
      <a href=<%= edit_experiment_path(@experiment) %>>
        Edit
      </a>
    </h5>
  <% end %>
</nav>
