<!DOCTYPE html>
<html>
<head>
  <title>Hyp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "hyp/application", media: "all" %>
  <%= javascript_include_tag "hyp/application" %>
  <%= javascript_include_tag "https://kit.fontawesome.com/a18ccfc9a6.js", crossorigin: "anonymous" %>
</head>
<body>

<%= yield %>

</body>
</html>
